main_old.py
test_files/intent_handler.log
test_files/rhasspy_output.log
test_files/intent_handler.py
test_files/test_llm.py
test_files/test_spotify.py
test_files/intents.json
test_files/test_rhasspy.py
*.wav
*.mp3